table{
    background-image: linear-gradient(#dab1fa ,rgb(140, 196, 245));
    margin-top: 150px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 10px 10px 5px rgb(52, 52, 52);

}
.submit{
    padding : 5px;
    border-radius: 5px;
    background-color: rgb(227, 234, 234);
    
}
.view{
    padding : 5px;
    border-radius: 5px;
    background-color: rgb(227, 234, 234);
}


